/*  your css code here. If applicable */
*{
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }

    .testimonial-section {
      padding: 40px;
      background-color: #f5f5f5;
    }

    .testimonial {
      background-color: #f5f5f5;
      border: 2px solid #ddd;
      padding: 1px;
      margin: 40px auto;
      max-width: 900px;

    }

    .testimonial p {
      margin: 0 0 10px;
      font-size: 13px;
      color: #333;
      line-height: 2.5;
    }

    .author {
      text-align: right;
      font-style: italic;
      color: #555;
      font-size: 14px;
	}
    